{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browserslist": [
                        "last 5 version",
                        "> 1%",
                        "Explorer",
                        "Android",
                        "ChromeAndroid",
                        "Edge",
                        "Firefox",
                        "FirefoxAndroid",
                        "iOS",
                        "QQAndroid",
                        "Safari",
                        "UCAndroid"
                    ],
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}